# PostgreSQL (based on a tenant with the schema name “public”)
DATABASE_URL="postgresql://user:password@@localhost:5432/mydb?schema=public"

# MySQL (based on a tenant with the database name “public”)
# DATABASE_URL="mysql://user:password@@localhost:3306/public"